*
{
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 20px;
}

html,
body
{
    height: 100vh;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#pointer-lock {
    background-color: #333;
    position: fixed;
    display: grid;
    grid-template-columns: 110px 620px 100px;
    bottom: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    padding: 10px;
    z-index: 100;
}

#stats {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.popup {
    background-color: #333;
    position: fixed;
    display: grid;
    grid-template-columns: 110px 620px 100px;
    bottom: 100px;
    left: 100px;
    width: 800px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}

.icon {
    width: 100px;
    height: 100px;
}

.comms {
    display: inline;
    color: white;
}

.next {
    color: #999;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.hidden {
    display: none;
}

#palette
{
    color: #000000,
}